$taskHeight: 30px;
$indentation: $taskHeight;
$inputPadding: calc($taskHeight / 6);
$fgColor: black;
$bgColor: white;
$iconSize: calc($taskHeight / 2);

html, body {
    position: relative;
    padding: 0;
    margin: 0;
}

.addTask {
    position: relative;
    height: $taskHeight;
    z-index: 1;

    > input[type=text] {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: $taskHeight;
        padding: $inputPadding;
        border: 1px solid $fgColor;
        background: $bgColor;
        z-index: 1;
    }

    > input[type=checkbox] {
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: calc(($taskHeight - $iconSize) / 2);
        left: -($iconSize + $inputPadding);
        width: $iconSize;
        height: $iconSize;
        margin: 0;
    }

    > button {
        position: absolute;
        top: $inputPadding;
        right: $inputPadding;
        height: $taskHeight - 2*$inputPadding;
        z-index: 3;
    }
}

.tasks {
    padding-left: $indentation;

    .task {
        @extend .addTask;

        > .taskOverlay {
            position: absolute;
            top: 0;
            right: 0;
            height: $taskHeight;
            width: 100%;
            z-index: 2;
            cursor: pointer;
        }

        > input[type=text] {
            border: 1px solid transparent;
            background: transparent;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.5);
                background: rgba(255, 255, 255, 0.5);
            }

            &:focus {
                border: 1px solid $fgColor;
                background: $bgColor;
            }
        }

        > span {
            position: absolute;
            pointer-events: none;
            top: $inputPadding;
            right: $inputPadding;
            z-index: 2;
        }

        &:span > button {
            display: none;
        }
    }
}

.taskWrap {
    > .taskList {
        background: rgba(0, 0, 0, 0.1);
        display: none;
    }

    > .task > button {
        display: none;
    }

    &.open {
        > .taskList {
            display: block;
        }

        > .task .taskOverlay {
            width: 90%;
        }

        > .task:hover > button {
            display: block;
        }
    }

    &.dropBefore {
        border-top: 2px dashed rgba(0, 0, 0, 0.5);
    }

    &.dropAfter {
        border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
    }
}
