$taskHeight: 30px;
$indentation: $taskHeight;
$inputPadding: $taskHeight / 6;
$fgColor: black;
$bgColor: white;
$iconSize: $taskHeight / 2;

html, body {
    position: relative;
    padding: 0;
    margin: 0;
}

.addTask {
    position: relative;
    height: $taskHeight;
    z-index: 1;

    > input[type=text] {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: $taskHeight;
        padding: $inputPadding;
        border: 1px solid $fgColor;
        background: $bgColor;
        z-index: 1;
    }

    > input[type=checkbox] {
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: ($taskHeight - $iconSize) / 2;
        left: -($iconSize + $inputPadding);
        width: $iconSize;
        height: $iconSize;
        margin: 0;
    }

    > button {
        position: absolute;
        top: $inputPadding;
        right: $inputPadding;
        height: $taskHeight - 2*$inputPadding;
        z-index: 2;
    }
}

.taskList {
    background: rgba(0, 0, 0, 0.1);
}

.tasks {
    padding-left: $indentation;

    .task {
        @extend .addTask;

        > input {
            border: 1px solid transparent;
            background: transparent;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.5);
                background: rgba(255, 255, 255, 0.5);
            }

            &:focus {
                border: 1px solid $fgColor;
                background: $bgColor;
            }
        }

        > button {
            display: none;
        }

        &:hover > button {
            display: block;
        }
    }
}
